<h1>Novo Usuario</h1> 

<form action= "?pagina=cadastro&metodo=update" method="POST">
    <div class="mb-3">
        <label>Nome</label>
        <input type="text" name="nome" class ="form-control" value="{{nome}}">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class ="form-control" value="{{email}}">
    </div>


    <div class="mb-3">
        <label>Data de nascimento</label>
        <input type="date" name="data_nasc" class ="form-control" value="{{data_nasc}}">
    </div>

    <input type="hidden" name="id" value="{{id}}">

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Alterar</button>
    </div>
</form>